---
# index.html
---
<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="main.css" />
  <title>The London Audit: Travel times from a flat to the main tube stations</title>
</head>
<body>
  <div class="container">
    <div class="query_box">
      <h2>The London Audit: Travel times from a flat to the main tube stations</h2>
      
      <p>Enter an address</p>
    
      <form id="search_form">
         <input id="query" />
         <input type="submit" />
      </form>
    </div>
   
   {% raw %}
    <script id="template" type="text/x-handlebars-template">
       <p>From: {{ origin }}</p>
      
       <p>Average: {{ average }} mins</p>
     
       <table id="results" class="tablesorter tablesorter-default">
          <thead>
             <tr>
                <td>Description</td>
                <td>Time</td>
             </tr>
          </thead>
          <tbody>
             {{#each items}}
             <tr>
                <td>{{title}}</td>
                <td>{{duration.text}}</td>
             </tr>
             {{/each}}
          </tbody>
       </table>
    </script>
   
    <script id="template_error" type="text/x-handlebars-template">
       <p>Error: {{ error_message }}</p>
    </script>
    {% endraw %}
   
    <div id="main_box"></div>
   </div>
   
   <script
      src="https://maps.googleapis.com/maps/api/js?key={{ site.google_maps_api_key }}&callback=initMap">
   </script>
      
   <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
   
   <link rel="stylesheet" href="/tablesorter-master/css/theme.default.css">
   
   <script src="main.js"></script>
</body>
</html>