#query
{
  padding: 5px;
  width: 900px;
}

.container
{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.query_box
{
  background-color: #efefef;
  border: solid 1px #ddd;
  padding: 8px;
  font-family: Arial;
  font-size: 13pt;
}